@model DAL.ViewModels.OrderAppCustomerViewModel;     
  
            <div class="row ">
                 <div class="col-12">
                    <div class="form-floating mb-3">
                        <input id="Email" asp-for="@Model.EmailAddress" class="form-control " type="email" 
                            placeholder="Email" aria-label="Email" onchange="fetchCustomer()">
                        <label for="email" class="form-label">Email</label>
                        <span asp-validation-for="EmailAddress" class="text-danger text-start"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Name" asp-for="@Model.FirstName"
                            placeholder="Name">
                        <label for="firstname">Name</label>
                        <span asp-validation-for="FirstName" class="text-danger text-start"></span>
                    </div>

                </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                        <input id="Phone" asp-for="@Model.Phone" class="form-control " type="number" 
                            placeholder="Phone" aria-label="Phone">
                        <label for="Phone" class="form-label">Phone</label>
                        <span asp-validation-for="Phone" class="text-danger text-start"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-2 ">
               <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input id="NoOfPerson" asp-for="@Model.NoOfPersons" class="form-control " type="number" 
                            placeholder="NoOfPerson" aria-label="NoOfPerson">
                        <label for="NoOfPerson" class="form-label">NoOfPerson</label>
                        <span asp-validation-for="NoOfPersons" class="text-danger text-start"></span>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="SectionsName" >
                        </select>
                        <label for="Section" class="form-label">Section</label>
                        
                    </div>
                </div>
            </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("~/OrderApp/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
 

           
        