   <div class="row mt-3 bg-white shadow ms-1 p-3">
        <div class="row d-flex align-items-center justify-content-between flex-wrap">
            <div class="col-md-6 ">
                <h2 style="color: rgba(0, 102, 167, 1);">All</h2>
            </div>
            <div class="col-md-6 text-end">
                <div class="d-flex justify-content-end flex-wrap" style="word-wrap: break-word;">
                    <button class="btn btn-primary me-2" type="button">In Progress</button>
                    <button class="btn btn-primary me-2" type="button">Ready</button>
                    <div class="">
                        <button class="btn btn-primary me-2" type="button">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>
                        <button class="btn btn-primary me-2" type="button">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row ms-1 p-3 mt-2">
            <div class="d-flex flex-wrap gap-3" style="width:300px;border-style: dotted;">
                <div class=" p-0">
                    <div class="row " style="background-color: rgb(231, 229, 229)">
                        <div class="col-2 " style="color:rgba(0, 102, 167, 1); ">
                            <strong>#123</strong>
                        </div>
                        <div class="col-10 text-end">
                            23days 11hrs 20mins 33secs
                        </div>
                        <div class="col">
                            Ground Floor T2
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8">
                            Grilled Sandwich
                        </div>
                        <div class="col-4 text-end">
                            1
                        </div>
                    </div>
                    <div class="row mt-2" style="height: 100px;">
                        <div class="col-12  " style="word-wrap: break-word;">
                            <ul>
                                <li>
                                    Mushroom
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="background-color: rgb(231, 229, 229);height:48px;">

                    </div>
                </div>
            </div>
        </div>
    </div>