@model DAL.ViewModels.ResetPasswordViewModel;
 @{
    ViewData["HideLayout"]="true";
   ViewData["Email"]=@Model.Email;
}
 <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="row   " style="height: 100%;" >
            <div class="col-md-6 p-0 " id="background-img">
                <img src="~/images/dominos_background.jpg" alt="Image" class=" img-fluid  "
                    style="object-fit: cover; height: 100%; ">
            </div>
            <div class="col-md-6 d-flex p-0 align-items-center justify-content-center info">
                <div class="w-75">
                    <div class="d-flex overflow-hidden  align-items-center justify-content-center w-auto p-0 mt-3">
                        <img src="~/images/logos/pizzashop_logo.png" alt="Image" class="img-fluid me-2 "
                            style="font: 16px; height: 55px;">
                        <h4 style="color: rgb(59, 161, 230);" >PIZZASHOP</h4>
                    </div>
                    <div class="row align-items-center justify-content-center p-0">
                        <h4 class="info mt-4 w-75">Reset Your Password</h4>

                        <form class="w-75" asp-action="ResetPassword" method="post">
                        <input asp-for="Email" class="form-control  " placeholder="Password" type="hidden" name="Email"
                                       value="@ViewData["Email"]" >
                            <div class=" mt-3 ">
                                 <div class="input-group mb-3">
                                    <input asp-for="newPassword" class="form-control  " placeholder="Password" id="pwd" type="password" name="newPassword"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="eye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                            </div>
                            <div class=" mt-3 ">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control  " id="confirmpwd" placeholder="Confirm New Password"
                                        name="confirmpass" style="position: relative;">
                                   <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="confirmeye"></i> </span>
                                </div>
                               <span asp-validation-for="confirmPassword" class="text-danger"></span>
                            </div>
                               <div class="mt-4 "><button type="submit" class="btn btn-primary w-100 "
                                style="border-radius: 5px;">Submit</button>
                            </div>
                        <div class="mt-2 text-center"><a  asp-controller="Home" asp-action="Index" >Back To Login</a></div>

                        </form>       
                    </div>
                </div>
            </div>
        </div>
    </div>
   @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  <script>
  let flag = 0;
  let flag1 = 0;
const p = document.getElementById("pwd");
const cp = document.getElementById("confirmpwd");
document.getElementById("eye").addEventListener('click', () => {
    flag = !flag
    if (flag) {
        p.setAttribute('type', 'text');
    } else {
        p.setAttribute('type', 'password');
    }

})
document.getElementById("confirmeye").addEventListener('click', () => {
    flag1 = !flag1
    if (flag1) {
        cp.setAttribute('type', 'text');
    } else {
        cp.setAttribute('type', 'password');
    }

})
  </script>