 @model DAL.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    ViewData["HideLayout"]="false";
   
}
<div class="content" id="content">
      <div class="row ">
                <div class="row mt-3 mb-3  ">
                     <h1  style="color: rgb(30, 151, 231);font-weight: 600;">Change Password</h1>
          
                </div>
        <div class="row ms-5 me-3 w-25" > 
            <form class="w-100" method="post" asp-action="ChangePassword">
                            <div class="mt-4">
                                <div class="input-group mb-3">
                                    <input asp-for="currentPassword" class="form-control  " placeholder="Current Password" id="pwd" type="text"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="eye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="currentPassword" class="text-danger"></span>
                            </div>
                            <div class="mt-4">
                                <div class="input-group mb-3">
                                    <input asp-for="newPassword" class="form-control  " placeholder="New Password" id="pwd" type="text"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="eye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                            </div>
                            <div class="mt-4">
                                <div class="input-group mb-3">
                                    <input asp-for="confirmPassword" class="form-control  " placeholder="Confirm Password" id="pwd" type="text"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="eye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                            </div>
                            @if(ViewBag.Message !=null)
                            {
                                <p>@ViewBag.Message</p>
                            }  
                <div class="d-flex justify-content-end mt-3 mb-3 ">
                <button type="submit" class="btn  me-2" style="background-color: rgba(9, 9, 172, 0.692);color:white">Submit</button>
                <button type="submit" class="btn" style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;" asp-action="Index" asp-controller="Dashboard" formnovalidate>Cancel</button>
            </div>
            </form>
        </div>        
        </div>
</div>
  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
