 @model DAL.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    ViewData["HideLayout"]="false";
    if(TempData["Message"]!=null)
    {
        @TempData["Message"];
    }
    
}
<div class="content p-3" id="content">
      <div class=" ">
                 <h1  style="color: rgb(30, 151, 231);font-weight: 600;">Change Password</h1>
        <div class=" me-2 ms-2 " > 
            <form class="w-100 p-0" method="post" asp-action="ChangePassword">
                            <div class="col col-lg-4 mt-4 p-0">
                                <div class="input-group mb-3">
                                    <input asp-for="currentPassword" class="form-control  " placeholder="Current Password" id="curpwd" type="password"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="cureye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="currentPassword" class="text-danger"></span>
                            </div>
                            <div class="col col-lg-4 mt-4 p-0">
                                <div class="input-group mb-3">
                                    <input asp-for="newPassword" class="form-control  " placeholder="New Password" id="pwd" type="password"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="eye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                            </div>
                            <div class="col col-lg-4 mt-4 p-0">
                                <div class="input-group mb-3">
                                    <input asp-for="confirmPassword" class="form-control  " placeholder="Confirm Password" id="confirmpwd" type="password"
                                        aria-label="Password" style="position: relative;">
                                    <span
                                        class="input-group-text"><i
                                            class="fa-solid fa-eye" id="confirmeye"></i> </span>
                                </div>                             
                                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                            </div>
                            @if(ViewBag.Message !=null)
                            {
                                <p>@ViewBag.Message</p>
                            }  
                <div class="col col-lg-4 d-flex justify-content-end mt-3 mb-3 ">
                <button type="submit" class="btn  me-2" style="background-color: rgba(9, 9, 172, 0.692);color:white">Submit</button>
                <button type="submit" class="btn" style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;" asp-action="Index" asp-controller="Dashboard" formnovalidate>Cancel</button>
            </div>
            </form>
        </div>        
        </div>
</div>
  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
