@model  DAL.ViewModels.LayoutViewModel;

<div class="d-flex align-items-center">
        <img src="@Model.ProfileImg" class="profile rounded-pill ms-2" alt="Profile Picture"
            style="width: 40px; height: 40px; ">
        <h5>@Model.Email</h5>
</div>